/* colors for special pages */
#preload {
	display: none;
}

#prelaod-strokehole {
	.img-retina('images/strokehole.png', 'images/strokehole_2x.png', 615px, 110px);
}

#content .entry-title-box {
	.img-retina('images/strokehole.png', 'images/strokehole_2x.png', 615px, 110px);
	background-repeat: no-repeat;
	background-position: -5px;
	margin: 0 0 0 -30px;
	height: 98px;
	max-width: 600px;
	padding-right: 5px;

	h1 {
		font-size: 35px;
		color: #1f1f1f;
		padding-top: 21px;
		margin: 0 0 0 30px;
	}
}

//home page
#primary.home #content .entry-title-box {
	margin-bottom: 20px;

	h2 {
		color: darken(@color-ac-0, 32%);
		padding: 0;
		margin-top: -5px;
		margin-left: 125px;
	}
}

#content.strokehole-ready .entry-title-box h1 {
	color: @color-main-bg;
}

#content.strokehole-ready .entry-title-box {
	background-color: darken(@color-main-bg, 15%);
	h1 {
		color: lighten(#333, 0%);
	}
}

#primary.home #content.strokehole-ready .entry-title-box h1,
.site-highlights #content.strokehole-ready .entry-title-box h1,
.site-umgebung #content.strokehole-ready .entry-title-box h1 {
	color: @color-main-bg;
}

#primary.home #content.strokehole-ready .entry-title-box {
	background-color: @color-ac-0;
}

.site-highlights #content.strokehole-ready .entry-title-box {
	background-color: @color-ac-1;
}

.site-umgebung #content.strokehole-ready .entry-title-box {
	background-color: @color-ac-2;
}

.site-tagesberichte #content.strokehole-ready .entry-title-box {
	background-color: @color-ac-3-dark;
}

.category #content article.post h1 {
	font-size: 22px;
}