/* main */

#main {
	.make-row();
}

#primary {
	.make-xs-column(12);
	.make-sm-column(8);
	.make-md-column(9);
}

#secondary aside {
	.make-xs-column(4);
	.make-sm-column(4);
	.make-md-column(3);
}

.single-post {
	article {
		margin-top: 20px;
	}
}

.cat-links {
	.glyphicon {
		color: #262626;
	}
}


#content {

	h1 {
		font-size: 35px;
	}

	article {
		margin-bottom: 40px;

		h1 {
			//for normal articles
			font-size: 25px;
			padding: 0;
			margin-bottom: 2px;
		}

		.entry-meta:first-child {
			margin: 0;
		}
		.entry-meta {
			margin-bottom: 4px;

			> span {
				padding-right: 8px;
			}
		}
	}

	.post-with-nav {
		nav {
			h1.screen-reader-text {
				display:none;
			}
		}
		.nav-links {
			.prev {
				float: left;
			}
			.next {
				float: right;
			}
		}
	}
}

article {
	.post-thumbnail {
		img {
			width: 100%;
			height: auto;
		}
	}

	.content {
		background-image: url('images/content_bg.png');
	}
}



/* home page */
#primary.home article {

	h1 {
		padding: 20px 0 12px;
	}

	.cards:after {
	    content: "";
	    display: block;
	    height: 0;
	    clear: both;
	}

	.cards {
		display: block;
		margin: 10px 0;

		li {
			float: left;
			list-style-type: none;
			margin-left: 9px;
		}

		.card-ac-0 h2 {
			background-image: url("images/box/ac_0.png");
		}
		.card-ac-1 h2 {
			background-image: url("images/box/ac_1.png");
		}
		.card-ac-2 h2 {
			background-image: url("images/box/ac_2.png");
		}
		.card-ac-3 h2 {
			background-image: url("images/box/ac_3.png");
		}

		li:first-child {
			margin-left: 0;
		}

		.card-1 {
			width: 32.36%;
		}

		.card-2 {
			width: 65.2%;
		}

		.back {
			display: none;
		}

		.badge {
			opacity: 0.5;
			background-color: #333;
		}

		.content {
			margin-top: -40px;
			position: relative;

			h2 {
				width: 100%;
				display: block;
				height: 40px;
				margin-top: -40px;
				color: #fff;
				line-height: 30px;
				padding: 5px 10px;
			}
		}

		img {
			width: 100%;
			height: auto;
		}
	}

}