/* main */

#main {
	.make-row();
}

#primary {
	.make-xs-column(12);
	.make-sm-column(8);
	.make-md-column(9);

    @media (min-width: @screen-sm-min) {
	    min-height: 510px;
    }
}


#secondary aside {
	.make-xs-column(6);

	position: relative;
	min-height: 1px;
	padding-left:  (@grid-gutter-width / 2);
	padding-right: (@grid-gutter-width / 2);

	@media (min-width: 500px) {
		float: left;
		width: percentage(4/ @grid-columns);
    }
	.make-md-column(3);
}

.single-post {
	article {
		margin-top: 20px;
	}
}

#content {

	h1 {
		font-size: 35px;
	}

	.taxonomy-description {
		margin: -15px 0 25px 0;
	}

	article {
		margin-bottom: 40px;

		h1 {
			//for normal articles
			font-size: 30px;
			padding: 0;
			margin-bottom: 2px;
		}

		.entry-meta:first-child {
			margin: 0;
		}
		.entry-meta {
			margin-bottom: 4px;

			> span {
				padding-right: 8px;
			}
		}
	}

	.post-with-nav {
		nav {
			h1.screen-reader-text {
				display:none;
			}
		}
		.nav-links {
			.prev {
				float: left;
			}
			.next {
				float: right;
			}
		}
	}
}

article {

	.cat-links .glyphicon, .cat-links a  {
		color: #622e37;
	}

	.entry-date, .entry-date a {
		color: #3b6138;
	}
	.byline, .byline a {
		color: #2f536b;
	}
	.comments-link, .comments-link a {
		color: darken(#FFE4AB, 50%);
	}

	.post-thumbnail {
		img {
			width: 100%;
			height: auto;
		}
	}
}



/* home page */
#primary {
	p, a {
		font-size: 110%;
	}

	blockquote,
	blockquote p {
		margin-bottom: 0;
	}

	.subblockquote {
		margin-left: 10px;
		@media (min-width: @screen-sm-min) {
		    margin-left: 25px;
	    }
		@media (min-width: @screen-md-min) {
		    margin-left: 45px;
	    }

	}
}

#primary.home article {
	p, a {
		font-size: 18px;
	}

	h1 {
		padding: 20px 0 12px;
	}
}

/* conact page*/

#map {
	.make-xs-column(12);
	height:300px;

}


.entry-date-updated  {
	display:none;
}