/* colors for special pages */

.page #content .entry-header,
.category #content .archive-header,
.archive #content .archive-header {
	background-image: url('images/strokehole.png');
	background-color: #333;
	background-repeat: no-repeat;
	background-position: -5px;
	margin: 0 0 0 -40px;
	height: 98px;
	max-width: 600px;

	h1 {
		font-size: 35px;
		color: #ede4d7;
		padding-top: 21px;
		margin: 0 0 0 40px;
	}
}

#primary.home #content .entry-header {
	background-color: @color-ac-0;

	h2 {
		color: darken(@color-ac-0, 32%);
		padding: 0;
		margin-top: -18px;
		margin-left: 140px;
	}
}

body .site-umgebung #content .archive-header {
	background-color: @color-ac-1;
}

body .site-tagesberichte #content .archive-header {
	background-color: @color-ac-2;
}

body .site-aktionen #content .archive-header {
	background-color: @color-ac-3-dark;
	h1 {
		color: #333;
	}
}
