/* footer */
footer #footer-column {
    .make-xs-column(12);
	color: lighten(@brown-light-lightest, 10%);

	#supplementary {
//		padding: 10px;
	}

	#footer-wrapper {
		.box-shadow-card;
		background-color: @brown-dark-default;
		border-top: 5px solid @brown-dark-darkest;
		margin-bottom: 10px;

	}

	#footer-sidebar {

	    h1 {
			display: none;
	    }
	    p {
		    margin-bottom: 2px;
	    }

		aside {
		    float: left;
			margin: 10px;

		}

		.google-maps-widget {
			h1 {
				display: none;
			}
			p {
				margin:0;
			}
		}
	}
}
