/* footer */
footer #footer-wrapper {
	.make-xs-column(12);

	#supplementary {
		.box-shadow-card;
		background-color: @brown-dark-default;
		border-top: 5px solid @brown-dark-darkest;
		margin-bottom: 10px;
//		padding: 10px;
	}

	#footer-sidebar {
		.make-row;

		aside {
			.make-xs-column(6);
		}

		.google-maps-widget {
			h1 {
				display: none;
			}
			p {
				margin:0;
			}
		}
	}
}
