body {
	background-color: @blue-light;
}

::selection {
	background: @green-dark-darkest;
	color: #fff;
	text-shadow: none;
}

::-moz-selection {
	background: @green-dark-darkest;
	color: #fff;
	text-shadow: none;
	border: 0;
}

.clear {
	clear: both;
}