/* sticky header */

@import "carousel-fade";

#header-carousel {
	background-color: black;
//	z-index: 10;
}

.carousel .item {
    width: 100%; /*slider width*/
    max-height: 500px; /*slider height*/
}
.carousel .item img {
    width: 100%; /*img width*/
}
/*add some makeup*/
.carousel .carousel-control {
    background: none;
    border: none;
    top: 50%;
}
/*full width container*/

.header-slider {
    margin-left: -20px;
    margin-right: -20px;
}

header#masthead:after {
	z-index: 15;
	width: 100%;
	height: 10px;
	margin-top: -7px;
	position: absolute;
	background-image: url("images/frame_top.png");
	background-repeat: repeat-x;
	content: '';
	display: table;

}

header .container-fluid {

	.header-text {
		z-index: 20;

		height: 50px;
		position: absolute;
		left: 0;
		right: 0;
		margin: 0 auto;
		width: 970px;

		@media (min-width: 1200px) {
			width:1110px;
		}


		@media (max-width: 768px) {
			top:10px;
			width: 750px;
		}

		a, a:visited {
			color: #fff;
		}
		.shadow {
			padding-top: 8px;
			margin-top: 12px;
			//background-image: url("images/header_box_bg.png");
			background-size: 100%;
			background-repeat: no-repeat;

			min-height: 150px;

			@media
			only screen and (-webkit-min-device-pixel-ratio: 2),
			only screen and (   min--moz-device-pixel-ratio: 2),
			only screen and (     -o-min-device-pixel-ratio: 2/1),
			only screen and (        min-device-pixel-ratio: 2),
			only screen and (                min-resolution: 192dpi),
			only screen and (                min-resolution: 2dppx) {
				margin-top: -15px;
				padding-top: 0;
			}

			@media (max-width: 992px) {
				background-position-y: 25px;
			}
			@media (max-width: 1000px) {
				background-position-y: 27px;
			}
		}

		 .logo {
			 .img-retina('images/logo.png', 'images/logo_2x.png', 175px, 93px);
			 background-repeat: no-repeat;
			 background-position: left 8px;
			 min-height: 110px;
		 }


	}


}


#site-title-description, header .header-main {
	margin-left: 190px;
}


#site-title-description {
	height: 61px;
	.img-retina('images/line.png', 'images/line_2x.png', 99px, 5px);
	background-repeat: repeat-x;
	background-position-y: 55px;
	margin-right: 5px;

	h1, h2 {
		padding: 0;
		margin-top: 12px;
		color: #fff;
        text-shadow: 0 0 20px #0f0f0f;
		line-height: 40px;
		font-family: @acent-font;
		float: left;
	}

	@media (max-width: 1000px) {
		h1, h2 {
			margin-top: 20px;
			font-size: 22px !important;
		}
	}


	h1 {
		font-size: 35px;
	}

	h2 {
		color: #f8f8f8;
		margin-left:15px;
		clear:right;
		font-size: 30px;
	}

}

.menu-toggle {
	display: none;
}

#primary-navigation {
	font-family: @acent-font;

	.screen-reader-text.skip-link {
		display: none;
	}

	ul {
		margin: 0;

		.current_page_item a, .current-menu-item a {
			font-weight: bold;
			text-decoration: underline;
		}

		li  {
			list-style-type: none;
			float: left;
			margin-right:15px;
			font-size: 20px;

			height: 30px;
			line-height: 30px;
			text-align: center;

			a {
				color: #fff;
		        text-shadow: 0 0 20px #0f0f0f;
			}
			a:hover, a:active {
				//font-weight: bold;

			}
		}

		.menu-item-no-0 a {
//			color: #aa273e;
			color: #f7b7c4;
		}

		.menu-item-no-1 a {
//			color: #47a841;
			color: #bbffbb;
		}

		.menu-item-no-2 a {
//			color: #013e6a;
			color: #a8d7ff;
		}

		.menu-item-no-3 a {
//			color: #4700a2;
			color: #ffe4ab;
		}

	}


}
