/* sticky header */

@import "carousel-fade";

#header-carousel {
	background-color: black;
//	z-index: 10;
}

.carousel .item {
    width: 100%; /*slider width*/
    max-height: 500px; /*slider height*/
}
.carousel .item img {
    width: 100%; /*img width*/
}
/*add some makeup*/
.carousel .carousel-control {
    background: none;
    border: none;
    top: 50%;
}
/*full width container*/

.header-slider {
    margin-left: -20px;
    margin-right: -20px;
}

header#masthead:after {
	z-index: 15;
	width: 100%;
	height: 10px;
	margin-top: -7px;
	position: absolute;
	background-image: url("images/frame_top.png");
	background-repeat: repeat-x;
	content: '';
	display: table;
	margin-bottom: 20px;
}

header .container-fluid {

	a:hover {
		color: @color-ac-3-light;
		text-decoration: none;
	}

	a, a:visited {
		color: darken(#fff, 2%);
	}
	a:hover {
		color: #fff;
	}

	.header-text {
		z-index: 20;

		height: 50px;
		position: absolute;
		left: 0;
		right: 0;
		margin: 0 auto;

		@media (min-width: 992px) {
			width: 970px;
		}

		@media (min-width: 768px) {
            width: 750px;
		}

		.shadow {
			background-size: 100%;
			background-repeat: no-repeat;

			min-height: 175px;
		}

		 .logo {
			 .img-retina('images/logo.png', 'images/logo_2x.png', 175px, 93px);
			 background-repeat: no-repeat;
			 background-position: left 8px;
			 min-height: 110px;
		 }


	}


}


#site-title-description, header .header-main {
	margin-left: 190px;
}


#site-title-description {
	height: 61px;
	.img-retina('images/line.png', 'images/line_2x.png', 99px, 5px);
	background-repeat: repeat-x;
	background-position-y: 55px;
	margin-right: 5px;

	h1,div {
		padding: 0;
		margin-top: 12px;
		color: #fff;
        text-shadow: 0 0 20px #0f0f0f;
		line-height: 40px;
		font-size: 35px;
		font-family: @acent-font;
		float: left;
	}

	.site-title-s,
	.site-title-m {
		display: none;

	}

	@media (max-width: 780px) {
		.site-title {
			display: none;
		}
		.site-title-m {
			display: block;
		}
	}
	@media (max-width: 550px) {
		.site-title-m {
			display: none;
		}
		.site-title-s {
			display: block;
		}
	}
}

.screen-reader-text.skip-link {
	display: none;
}

header .header-main {
	a {
		text-shadow: 0 0 20px #0f0f0f;
	}
	a:hover, a:active {
		//font-weight: bold;
	}

	.menu-item-no-0 a {
		color: @color-ac-0-light;
	}
	.menu-item-no-0 a:hover {
		color: lighten(@color-ac-0-light, 10%);
	}


	.menu-item-no-1 a {
		color: @color-ac-1-light;
	}
	.menu-item-no-1 a:hover {
		color: lighten(@color-ac-1-light, 10%);
	}


	.menu-item-no-2 a {
		color: @color-ac-2-light;
	}
	.menu-item-no-2 a:hover {
		color: lighten(@color-ac-2-light, 10%);
	}


	.menu-item-no-3 a {
		color: @color-ac-3-light;

	}
	.menu-item-no-3 a:hover {
		color: lighten(@color-ac-3-light, 10%);
	}

	/* #### burger required */
	@media (max-width: 700px) {
		#primary-navigation {
			.menu-toggle {
				z-index: 100;
				border: 0;
				position: fixed;
				top: 0;
				right: 0;
				display: block;
				background-color: #fff;
				overflow: hidden;
				margin: 0;
				padding: 0;
				width: 40px;
				height: 40px;
				font-size: 0;
				text-indent: -9999px;
				-webkit-appearance: none;
				-moz-appearance: none;
				appearance: none;
				box-shadow: none;
				border-radius: none;
				border: none;
				cursor: pointer;
				-webkit-transition: background 0.3s;
			    transition: background 0.3s;

				span {
					display: block;
					position: fixed;
					top: 17px;
					right: 5px;
					height: 5px;
					background: #333;
					width: 30px;

					-webkit-transition: background 0 0.3s;
					transition: background 0 0.3s;
				}

				span:before,
				span:after {
					position: fixed;
					display: block;
					right: 5px;
					width: 30px;
					height: 5px;
					background-color: #333;
					content: "";

					-webkit-transition-duration: 0.3s, 0.3s;
					transition-duration: 0.3s, 0.3s;
					-webkit-transition-delay: 0.3s, 0;
					transition-delay: 0.3s, 0;
				}

				span:before {
					top: 7px;

					-webkit-transition-property: top, -webkit-transform;
					transition-property: top, transform;
				}
				span:after {
					top: 27px;

					-webkit-transition-property: top, -webkit-transform;
					transition-property: top, transform;
				}

			}
			.menu-toggle:focus {
				outline: none;
			}

			ul {
				display: none;
			}
		}

		#primary-navigation.toggled-on {
			.menu-toggle {
				background-color: @color-ac-0;
			}
			.menu-toggle:hover {
				background-color: lighten(@color-ac-0, 10%);
			}

			.menu-toggle span {
				background: none;
			}

			.menu-toggle span::before {
				-webkit-transform: rotate(45deg);
				-ms-transform: rotate(45deg);
				  transform: rotate(45deg);
			}

			.menu-toggle span::after {
				-webkit-transform: rotate(-45deg);
				-ms-transform: rotate(-45deg);
				transform: rotate(-45deg);
			}

			.menu-toggle span::before,
			.menu-toggle span::after {
				top: 18px;
				background-color: #fff;
				-webkit-transition-delay: 0, 0.3s;
				transition-delay: 0, 0.3s;
			}

			ul {
				top: 0;
				left: 0;
				position: fixed;
				display: block;
				width: 100%;

				li {
					float: none;
					margin: 0;
					height: 40px;
					line-height: 40px;

					a {
						display: block;
						height: 40px;
						background-color: #333;
						border-bottom: 1px solid lighten(#333, 5%);
						text-shadow: none;
					}
					a:hover {
						background-color: lighten(#333, 5%);
					}
				}
			}
		}
	} //end of media which requires burger

	/* #### no burger required */
	#primary-navigation {
		font-family: @acent-font;

		ul {
			margin: 0;

			.current_page_item a, .current-menu-item a {
				font-weight: bold;
				text-decoration: underline;
			}

			li {
				list-style-type: none;
				float: left;
				margin-right: 15px;
				font-size: 20px;

				height: 30px;
				line-height: 30px;
				text-align: center;
			}


		}

	}

	.menu-toggle {
		display: none;
	}
}

