.widget {
	h1 {
		padding-bottom: 2px;
		font-size: 24px;
	}

	@media (max-width: 560px) {
        h1 {
	        font-size: 18px;
        }
		font-size: 12px;
	}


	ul {
		list-style-type: none;
		display: inline-block;
		margin: 0;
	}

	a:link {
		color: lighten(#333, 10%);
	}
	a:visited {
		color: lighten(#333, 11%);
	}
	a:hover {
		color: darken(#333, 10%);
	}

}

