.widget {
	h1 {
		padding-bottom: 2px;
	}

	ul {
		list-style-type: none;
		display: inline-block;
		margin: 0;
	}

	a:link {
		color: lighten(#333, 10%);
	}
	a:visited {
		color: lighten(#333, 11%);
	}
	a:hover {
		color: darken(#333, 10%);
	}

}

