body {
  background-color: #ede4d7;
}
.login h1 a {
  width: 175px;
  height: 93px;
  background-image: url("images/logo.png");
  background-size: 175px;
}
@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min--moz-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2/1), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
  .login h1 a {
    background-image: url("images/logo_2x.png");
    background-size: 175px 93px;
  }
}
